# Data Cleaning - NBA Players Data

#### João Vitor de Paiva Marcotti
#### Electrical Engineer - State University of Maringá - UEM (Brazil)
#### 8th Semester Economics Student - Cesumar University - UniCesumar (Brazil)
#### Open to Work
#### Contact: joaovmarcotti@hotmail.com

# ---------------------------------------------------------------------------------------------------------------

In [73]:
# Import the Pandas library
import pandas as pd

In [74]:
# Import the dataframe from a .csv file
df = pd.read_csv('player_data.csv')
df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

# ---------------------------------------------------------------------------------------------------------------

In [75]:
# Corrects the titles names
df.columns = df.columns.str.title().str.replace('_',' ')
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [76]:
# Normalize the positions into guards (G), fowards (F) and centers (C)
df = df.replace({'F-C':'C','C-F':'F','G-F':'G','F-G':'F'})
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
0,Alaa Abdelnaby,1991,1995,C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G,6-3,195.0,"December 19, 1919",George Washington University

In [77]:
# Converts feet-inches to meters
df[['feet', 'inches']] = df['Height'].str.split('-', expand=True)
df['feet'] = df['feet'].astype(float)
df['inches'] = df['inches'].astype(float)
df['Height'] = round((df['feet'] * 0.3048) + (df['inches'] * 0.0254),2)
df = df.drop(['feet','inches'],axis=1)
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
0,Alaa Abdelnaby,1991,1995,C,2.08,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,F,2.06,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.18,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.85,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.98,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,2.11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,2.16,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,1.85,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,2.16,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G,1.91,195.0,"December 19, 1919",George Washington University

In [78]:
# Converts pounds to kilograms
df['Weight'] = round(df['Weight']*0.453592,2)
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
0,Alaa Abdelnaby,1991,1995,C,2.08,108.86,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,F,2.06,106.59,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.18,102.06,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.85,73.48,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.98,101.15,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,2.11,113.40,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,2.16,108.86,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,1.85,77.11,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,2.16,120.20,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G,1.91,88.45,"December 19, 1919",George Washington University

In [79]:
# Tuns the college column NaN into international
df['College'] = df['College'].fillna('International')
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
0,Alaa Abdelnaby,1991,1995,C,2.08,108.86,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,F,2.06,106.59,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.18,102.06,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.85,73.48,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.98,101.15,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,2.11,113.40,"January 4, 1997",International
4546,Jim Zoet,1983,1983,C,2.16,108.86,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,1.85,77.11,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,2.16,120.20,"March 18, 1997",International
4549,Matt Zunic,1949,1949,G,1.91,88.45,"December 19, 1919",George Washington University

In [80]:
# Penny Early was a woman who played just a second in the NBA
df = df.drop(df[df['Name']=='Penny Early'].index[0])

In [81]:
# How many NaN is in each df column
df.isna().sum()

Name           0
Year Start     0
Year End       0
Position       1
Height         1
Weight         6
Birth Date    31
College        0
dtype: int64

In [82]:
# Checks if there is any NaN value in df
df[df.isna().any(axis=1)]

,Name,Year Start,Year End,Position,Height,Weight,Birth Date,College
49,Bill Allen,1968,1968,F,2.03,92.99,NaN,New Mexico State University
317,Don Bielke,1956,1956,C,2.01,108.86,NaN,Valparaiso University
473,Clarence Brookins,1971,1971,F,1.93,86.18,NaN,Temple University
585,Walter Byrd,1970,1970,F,2.01,92.99,NaN,Temple University
800,Ken Corley,1947,1947,C,1.96,95.25,NaN,Oklahoma State Teachers College
896,Mack Daughtry,1971,1971,G,1.91,79.38,NaN,Albany State University
1011,Harry Dinnel,1968,1968,F,1.93,90.72,NaN,Pepperdine University
1074,Rich Dumas,1969,1969,G,1.91,77.11,NaN,Northeastern State University
1419,Gene Gillette,1947,1947,F,1.88,92.99,NaN,Saint Mary's College of California
1631,Darrell Hardy,1968,1968,F,2.01,99.79,NaN,Baylor University
2142,George Karl,1974,1978,NaN,NaN,NaN,"May 12, 1952",University of North Carolina
2219,Wilber Kirkland,1970,1970,F,2.01,86.18,NaN,Cheyney University of Pennsylvania
2360,Dick Lee,1968,1968,F,1.98,NaN,NaN,University of Washington
2470,R.B. Lynam,1968,1968,G,1.85,86.18,NaN,Oklahoma Baptist University
2598,Ken McBride,1955,1955,G,1.91,86.18,NaN,University of Maryland Eastern Shore
2608,Howie McCarty,1947,1947,F,1.88,86.18,NaN,Wayne State University
2783,Murray Mitchell,1950,1950,C,1.98,NaN,"March 19, 1923",Sam Houston State University
2817,Larry Moore,1968,1968,F,2.01,97.52,NaN,International
2821,Richard Moore,1968,1968,G,1.88,86.18,NaN,Hiram Scott College
2973,Paul Nolen,1954,1954,C,2.08,NaN,"September 3, 1929",Texas Tech University
3016,Mike O'Neill,1953,1953,F,1.91,95.25,NaN,University of California
3092,Errol Palmer,1968,1968,F,1.96,88.45,NaN,DePaul University
3110,Charles Parks,1969,1969,F,1.96,95.25,NaN,Idaho State University
3336,Frank Reddout,1954,1954,F,1.96,88.45,NaN,Syracuse University
3569,Bob Schafer,1956,1957,G,1.91,88.45,NaN,Villanova University
3771,Pete Smith,1973,1973,F,1.98,92.99,NaN,Valdosta State University
3821,Bruce Spraggins,1968,1968,F,1.96,85.28,NaN,Virginia Union University
3829,Erv Staggs,1970,1970,F,1.98,88.45,NaN,Cheyney University of Pennsylvania
3870,Randy Stoll,1968,1968,C,2.01,106.59,NaN,Washington State University
3993,Willis Thomas,1968,1968,G,1.88,83.91,NaN,Tennessee State University
4084,Gary Turner,1968,1968,F,2.01,90.72,NaN,Texas Christian University
4279,Ray Wertis,1947,1948,G,1.80,NaN,"January 1, 1922",St. John's University
4289,Dexter Westbrook,1968,1968,F,2.03,86.18,NaN,Providence College
4430,Bobby Wilson,1968,1968,F,2.03,97.52,NaN,University of Kansas
4438,Jim Wilson,1971,1971,G,1.78,79.38,NaN,Cheyney University of Pennsylvania
4472,Bob Wood,1950,1950,G,1.78,NaN,"October 7, 1921",Northern Illinois University

In [83]:
# Excludes the lines that contain NaN values
df = df.dropna()

In [84]:
# Split the birth date into birth day, month and year
df.insert(7, 'Birth Year', pd.to_datetime(df['Birth Date']).dt.year)
df.insert(7, 'Birth Month', pd.to_datetime(df['Birth Date']).dt.month)
df.insert(7, 'Birth Day', pd.to_datetime(df['Birth Date']).dt.day)
df = df.drop(['Birth Date'],axis=1)
df['Birth Year'] = df['Birth Year'].astype(int)
df['Birth Month'] = df['Birth Month'].astype(int)
df['Birth Day'] = df['Birth Day'].astype(int)
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Day,Birth Month,Birth Year,College
0,Alaa Abdelnaby,1991,1995,C,2.08,108.86,24,6,1968,Duke University
1,Zaid Abdul-Aziz,1969,1978,F,2.06,106.59,7,4,1946,Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.18,102.06,16,4,1947,"University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.85,73.48,9,3,1969,Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.98,101.15,3,11,1974,San Jose State University
...,...,...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,2.11,113.40,4,1,1997,International
4546,Jim Zoet,1983,1983,C,2.16,108.86,20,12,1953,Kent State University
4547,Bill Zopf,1971,1971,G,1.85,77.11,7,6,1948,Duquesne University
4548,Ivica Zubac,2017,2018,C,2.16,120.20,18,3,1997,International
4549,Matt Zunic,1949,1949,G,1.91,88.45,19,12,1919,George Washington University

In [85]:
# How many NaN is in each df column
df.isnull().sum()

Name           0
Year Start     0
Year End       0
Position       0
Height         0
Weight         0
Birth Day      0
Birth Month    0
Birth Year     0
College        0
dtype: int64

In [86]:
# df statistical resume
df.describe()

,Year Start,Year End,Height,Weight,Birth Day,Birth Month,Birth Year
count,4513.000000,4513.000000,4513.000000,4513.000000,4513.000000,4513.000000,4513.000000
mean,1985.254155,1989.483492,1.982703,94.797170,15.717040,6.471084,1961.324839
std,20.952599,21.824813,0.092291,11.919599,8.861594,3.434238,21.647768
min,1947.000000,1947.000000,1.600000,60.330000,1.000000,1.000000,1902.000000
25%,1969.000000,1973.000000,1.910000,86.180000,8.000000,3.000000,1946.000000
50%,1987.000000,1992.000000,1.980000,95.250000,16.000000,7.000000,1963.000000
75%,2003.000000,2009.000000,2.060000,102.060000,23.000000,9.000000,1980.000000
max,2018.000000,2018.000000,2.310000,163.290000,31.000000,12.000000,1998.000000

In [87]:
# Cleaned df
df

,Name,Year Start,Year End,Position,Height,Weight,Birth Day,Birth Month,Birth Year,College
0,Alaa Abdelnaby,1991,1995,C,2.08,108.86,24,6,1968,Duke University
1,Zaid Abdul-Aziz,1969,1978,F,2.06,106.59,7,4,1946,Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2.18,102.06,16,4,1947,"University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,1.85,73.48,9,3,1969,Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,1.98,101.15,3,11,1974,San Jose State University
...,...,...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,C,2.11,113.40,4,1,1997,International
4546,Jim Zoet,1983,1983,C,2.16,108.86,20,12,1953,Kent State University
4547,Bill Zopf,1971,1971,G,1.85,77.11,7,6,1948,Duquesne University
4548,Ivica Zubac,2017,2018,C,2.16,120.20,18,3,1997,International
4549,Matt Zunic,1949,1949,G,1.91,88.45,19,12,1919,George Washington University

In [88]:
# Export .csv file to be used in other projects
df.to_csv('players_data_cleaned.csv', index=False)

# ---------------------------------------------------------------------------------------------------------------